/* Header */

.navbar {
  background-color: #bb000e;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  color: #0e0e10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  vertical-align: middle;
  height: 40px;
  width: auto;
}

.login{
  margin-right: 1%;
  margin-left: auto;
  float: right;
  background-color: #0e0e10;
  color: #bb000e;
  border: none;
  width: 6.5vw;
  height: 1.5vw;
  font-size: 1.04vw;
  border-radius: 30mm;
}

.hamburger{
  float:left;
  margin-right: auto;
  margin-left:1%;
  background-color: #0e0e10;
  color: #bb000e;
  border: none;
  width: 125px;
  height: 30px;
  font-size: 20px;
  border-radius: 30mm;
}







/* Footer */

.foot{
  background-color: #e31c25;
  text-align: center;
  padding: 5px;
  color: #0e0e10;
}







/* Card Layout */
.maini{  
  padding: 20px 50px;
  background-color: #0e0e10;
  color: #bb000e;
  box-sizing: border-box;
}

.maini:after{
  content: "";
  display: block;
  clear: both;
}

.card {
  margin: 2.5%;
  font-size: 1.3vw;
  width: 18%;
  padding: 1%;
  float: left;
}

.thumbnail{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 99%;
  border: 0.15vw solid #bb000e;
}

.info{
  height: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 0.2em;
}

.info:after{
  content: "";
  display: block;
  clear: both;
}

.streamname {
  text-align: left;
  float: left;
  margin: 0%;
  width: 75%;
}

.eye{
  width: 5%;
  margin-left: auto
}

.viewers {
  text-align: right;
  padding-left: 0.2em;
  float: right;
  margin: 0%;
  text-align: right;
}


@media (max-width: 768px) {
  .card {
    margin: 2.5%;
    font-size: 1.7vw;
    width: 26.33%;
    padding: 1%;
  }
}

@media (max-width: 480px) {
  .card {
    margin: 2.5%;
    font-size: 5vw;
    width: 93%;
    padding: 1%;
  }
}